<link rel="stylesheet" href="/css/home.css">

<div class="container">
    <h1 class="title">Lista de Productos</h1>
    <div class="row">
        {{#each products}}
        <div class="col-3">
            <div class="card h-100" style="width: 18rem;">
                <img src="{{this.thumbnail}}" class="card-img-top" alt="{{this.title}}">
                <div class="card-body">
                    <h5 class="card-title">{{this.title}}</h5>
                    <p class="card-text">Precio: ${{this.price}}</p>
                    <a href="/products/{{this._id}}" class="btn btn-primary">Ver detalles</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<script src="/js/home.js"></script>

